body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    padding: 50px 90px;
    font-family: sans-serif;
    text-decoration: none;
    color: #860606;
    letter-spacing: 2px;
    border: 5px solid #860606;
    border-radius: 15px;
    position: relative;
    transition: 1.5s;
}

a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #860606;
    transition: 1.5s;
    transform: rotateX(90deg);
    z-index: -1;
}

a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #860606;
    transition: 1.5s;
    transform: rotateY(90deg);
    z-index: -1;
}

a:hover:before {
    transform: rotateX(0);
}

a:hover:after {
    transform: rotateY(0);
}

a:hover {
    color: white;
}